// Estilos CSS Faca na Bota

.collapse { padding-bottom: 3px; padding-left: 3px; vertical-align: middle; }
.EstFotoProdCross { max-width: 180px; max-height: 120px; }
#idTabCrossFC td { text-align: left; }
#idTitTextoFC { display: none; }
#ProdDetDiv .EstImgFC { max-width: 240px; }